@font-face {
  font-family: 'Inter';

  font-style:  normal;

  font-weight: 100;

  font-display: swap;

  src: url(/fonts/Inter-Thin.woff2?850febbe5e8a7625c5603061d2e7c0ce) format("woff2"),
       url(/fonts/Inter-Thin.woff?ead42837911f0b55b0877c12b50d9157) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  italic;

  font-weight: 100;

  font-display: swap;

  src: url(/fonts/Inter-ThinItalic.woff2?e08d9b2a5079b81cc39804c2a7406254) format("woff2"),
       url(/fonts/Inter-ThinItalic.woff?a76db06556290ed3bd198a72b24d8006) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  normal;

  font-weight: 200;

  font-display: swap;

  src: url(/fonts/Inter-ExtraLight.woff2?4d9f96f8504cd034ef7e5f25434ca550) format("woff2"),
       url(/fonts/Inter-ExtraLight.woff?4bd040df09ea4765148b5743b8493e5f) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  italic;

  font-weight: 200;

  font-display: swap;

  src: url(/fonts/Inter-ExtraLightItalic.woff2?54d3d9a59ea904ebd11c3ac308893bfb) format("woff2"),
       url(/fonts/Inter-ExtraLightItalic.woff?84c26656e02913a54131fc64431212ae) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  normal;

  font-weight: 300;

  font-display: swap;

  src: url(/fonts/Inter-Light.woff2?5baca21acf845c8e746f08675f40300b) format("woff2"),
       url(/fonts/Inter-Light.woff?b9920de0749addeb5a53462fb5bbe070) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  italic;

  font-weight: 300;

  font-display: swap;

  src: url(/fonts/Inter-LightItalic.woff2?adc70179a9e60e14f2a4f7d106166004) format("woff2"),
       url(/fonts/Inter-LightItalic.woff?0555a46cda7fc3406a875d6bacf8fcff) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  normal;

  font-weight: 400;

  font-display: swap;

  src: url(/fonts/Inter-Regular.woff2?4dd66a113d54a7f9a1ae913049610617) format("woff2"),
       url(/fonts/Inter-Regular.woff?7c539936c4c8c822b59a1bcc6c08a6ec) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  italic;

  font-weight: 400;

  font-display: swap;

  src: url(/fonts/Inter-Italic.woff2?9528384cf7aebfa81a198626cb05f5e8) format("woff2"),
       url(/fonts/Inter-Italic.woff?e4ad3666e223c64e4df963cec740bf09) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  normal;

  font-weight: 500;

  font-display: swap;

  src: url(/fonts/Inter-Medium.woff2?f6cf0a0bc5fce3307e2c426eb14eb752) format("woff2"),
       url(/fonts/Inter-Medium.woff?7a8cc7241f766a142e15b2948804e547) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  italic;

  font-weight: 500;

  font-display: swap;

  src: url(/fonts/Inter-MediumItalic.woff2?565a7104c497ccb1bf12832d8b341861) format("woff2"),
       url(/fonts/Inter-MediumItalic.woff?417907d2be56d39b2a9c0b52fc8a00e8) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  normal;

  font-weight: 600;

  font-display: swap;

  src: url(/fonts/Inter-SemiBold.woff2?dd8a55ef7058cdaeb96ef9fc65344726) format("woff2"),
       url(/fonts/Inter-SemiBold.woff?1db6c55ca0f2a97fbce3b0b3903a7bb7) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  italic;

  font-weight: 600;

  font-display: swap;

  src: url(/fonts/Inter-SemiBoldItalic.woff2?ac201e30486307c75c5038f61df9fd9f) format("woff2"),
       url(/fonts/Inter-SemiBoldItalic.woff?81678d1a50a895cc1232f3e287976083) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  normal;

  font-weight: 700;

  font-display: swap;

  src: url(/fonts/Inter-Bold.woff2?aed27700d84e327fda56b4a427b03061) format("woff2"),
       url(/fonts/Inter-Bold.woff?79260e5b693fac2ee373b659f01a2bdf) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  italic;

  font-weight: 700;

  font-display: swap;

  src: url(/fonts/Inter-BoldItalic.woff2?8ef77a031c5b96e53f2eeeb009232181) format("woff2"),
       url(/fonts/Inter-BoldItalic.woff?e0879d64763e509f309940120e7d1f5a) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  normal;

  font-weight: 800;

  font-display: swap;

  src: url(/fonts/Inter-ExtraBold.woff2?92d16aee8fb5f5c5cfd660b2d07e1148) format("woff2"),
       url(/fonts/Inter-ExtraBold.woff?38bc51bccb7dd07b2752c11888cbdc89) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  italic;

  font-weight: 800;

  font-display: swap;

  src: url(/fonts/Inter-ExtraBoldItalic.woff2?57ea76d011f6fff8cb7013b783bad58e) format("woff2"),
       url(/fonts/Inter-ExtraBoldItalic.woff?0e4b21ebad8d568078450713ee9339cf) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  normal;

  font-weight: 900;

  font-display: swap;

  src: url(/fonts/Inter-Black.woff2?09f4068bb74fc78ffbce74f5596d6aa5) format("woff2"),
       url(/fonts/Inter-Black.woff?e37354838bf8078ac0d296217613533f) format("woff");
}

@font-face {
  font-family: 'Inter';

  font-style:  italic;

  font-weight: 900;

  font-display: swap;

  src: url(/fonts/Inter-BlackItalic.woff2?daa1ca3cebd42cf5ebd53d9a6942b2cf) format("woff2"),
       url(/fonts/Inter-BlackItalic.woff?07e69b53f8cf91da94096d1abf484302) format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/

@font-face {
  font-family: 'Inter var';

  font-weight: 100 900;

  font-display: swap;

  font-style: normal;

  font-named-instance: 'Regular';

  src: url(/fonts/Inter-roman.var.woff2?90e8f61d26f65b5ff0acc45ddf6740ea) format("woff2");
}

@font-face {
  font-family: 'Inter var';

  font-weight: 100 900;

  font-display: swap;

  font-style: italic;

  font-named-instance: 'Italic';

  src: url(/fonts/Inter-italic.var.woff2?2690e3c25733fb852b55b3f8d651a431) format("woff2");
}

/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/

@font-face {
  font-family: 'Inter var experimental';

  font-weight: 100 900;

  font-display: swap;

  font-style: oblique 0deg 10deg;

  src: url(/fonts/Inter.var.woff2?4b976905f2be1cb9201f5d94afd9edd2) format("woff2");
}
